.dropDown {
  display: relative;
  z-index: 1;
  margin-left: 5px;
}

.sorting {
  z-index: 2;
}

.dropBtn,
.dropList {
  padding: 15px;
  width: 200px;
  text-align: left;
}

.dropBtn,
.dropItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropBtn:hover {
  cursor: pointer;
}

.dropItem:hover {
  cursor: pointer;
  color: lightgray;
}

.dropList {
  display: none;
  position: absolute;
  margin-top: 4px;
}

.dropItem {
  margin: 5px 0;
}

.open {
  display: block;
}


@media screen and (max-width: 600px) {
  .dropDown {
    margin-left: 0;
  }
}