html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-y: overlay;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.border {
  border: solid black 2px;
}

.container {
  /* width: 90%;*/
  margin: auto;
  text-align: center;
  margin-top: 10rem;
}

/* dark mode styles*/
body {
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
  font-family: "Nunito sans", sans-serif;
}

/*dark mode element*/
.dmElement {
  background-color: hsl(209, 23%, 22%) !important;
}

.corners {
  border-radius: 5px !important;
}
