.border {
    border: solid black 2px;
}

.filter   {
  display: relative;
  width: 90%;
  margin: 2rem;
  padding: 2rem;
}

.dropBtn,
.dropList {
  color: white;
  background-color: hsl(209, 23%, 22%);
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  text-align: left;
}

.dropBtn,
.dropItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropBtn:hover {
  cursor: pointer;
}

.dropItem:hover {
  cursor: pointer;
  color: lightgray;
}

.dropBtn {
  margin-bottom: 2px;
}

.dropList {
  display: none;
  position: absolute;
}

.dropItem {
  margin: 5px 0;
}

.open {
  display: block;
}