.borderTagContainer {
  display: flex;
  justify-content: flex-start;
  margin: 30px auto;
}

.borderTagContainer .title {
  font-weight: bold;
  text-align: left;
  min-width: 140px;
}

.borderTagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.borderTag {
  width: fit-content;
  padding: 5px 15px;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .borderTagContainer {
    flex-direction: column;
  }

  .borderTagContainer .title {
    margin-bottom: 15px;
  }
}