/* Container for the elements that make up the search bar */

.searchBar {
  width: 40%;
}

#searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.15rem;
}

/* Media query for medium screen */
@media screen and (max-width: 900px) {
  .searchBar {
    width: 50%;
  }
}

/* Media query for smaller screen */
@media screen and (max-width: 600px) {
  .searchBar {
    width: 100%;
  }

  #searchBox {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* Container of FA's search icon */
#searchIcon {
  margin: 0.5rem;
  margin-left: 1rem;
  padding: 0.25rem;
  display: flex;
}

/*Input box*/
#searchInput {
  color: #fff;
  padding: 0.75rem;
  border: none;
  margin: 0.5rem;
  margin-left: 0;
  width: 100%;
  height: 2rem;
  font-size: 16px;
}

/* Make the focus outline a suitable colour */
#searchInput:focus {
  outline-style:none;
  /* outline-color: rgb(54, 110, 96);  */
  box-shadow: 0px 0px 2px 2px rgb(54, 110, 96);
}

#searchInput:hover {
  outline-style:none;
  /* outline-color: rgb(54, 110, 96); */
  box-shadow:0px 0px 3px 3px rgb(54, 110, 96);
}