
#searchBox {
    display: flex;
    justify-content: center;
    align-items:center;
    max-width: 400px;
    width: 100%;
}

#searchIcon {
    margin: 0.5rem;
    margin-left: 1rem;
    padding: 0.25rem;
    display: flex;
}

#searchInput {
    color: #fff;
    padding: 0.75rem;
    border: none;
    margin: 0.5rem;
    margin-left: 0;
    width: 100%;
    height: 2rem;
}

#searchInput:focus {
    outline-style: solid;
    outline-color: #fff;
}

