
.cardActionArea{
    height: 100%;
    min-width: 50%;
    color: white!important; 
}

.cardContent{
    height: 200px;
    text-align:left;
}

.flagSize{
    max-height: 200px;
    min-height: 200px;
}