.wrapper {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
